@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-text {
  -webkit-text-stroke: 2px #9C6FF633; /* 2px border with semi-transparent color */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

/* Global stylesheet */
.sliding-container {
  overflow: hidden; /* Hide overflow to create a clean sliding effect */
  width: 100%;
}

.sliding-nfts {
  display: flex; /* Change to flex for horizontal sliding */
  animation: slide 50s linear infinite; /* Infinite sliding animation */
}

.slide-item {
  flex: 0 0 auto; /* Prevent items from shrinking or growing */
  width: 25%; /* Adjust based on your grid (e.g., 25% for 4 columns) */
}

@keyframes slide {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Move fully to the right */
  }
}

/* Optional: Pause animation on hover */
.sliding-nfts:hover {
  animation-play-state: paused;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .slide-item {
    width: 50%; /* 2 columns for medium screens */
  }
}

@media (max-width: 640px) {
  .slide-item {
    width: 100%; /* 1 column for small screens */
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

